@import "/defalut.css";
.logo-img{
    width: 85%;
}
a{
    text-decoration: none;
    color: var(--text-color);

}
li{
    list-style: none;
    color: var(--text-color);
}
.big-wrapper{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-logo{
   display: flex;
   align-items: center;
   cursor: pointer;
   margin-left: 5rem;
}
.logo-mg{
    width: 42%;
    margin-right: -2rem;
}
.bg-color{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: monospace;
    font-weight: 600;
}

header{
    position: relative;
    z-index: 70;
}
header .container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.ul-margin{
    margin-right: 60rem;
}
button.link-no-style {
   margin-right: -4px;
}

.search-bar-btn {
    padding: 0.625rem 1rem;
    background-color: var(--search-bar-color);
}

.link-no-style {
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.small-txt{
    display: flex;
    font-size: 13px;
    flex-flow: row-reverse;
    color: var(--search-bar-color);
}
.search-bar{
    display: flex;
    margin-left: 20rem;
}
.activeSearchBar {
    background-color: var(--text-color);
    border: 1px solid #c7c7c9;
}
.search-bar-input {
    width: 38rem;
    border: none;
    background-color: var(--search-bar-color);
    padding: 0.625rem 1rem;
    outline: 0px;
}
.icon{
    font-size: 1.4rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    color: var(--text-color);
    font-size: 1.4rem;
}
.links ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}
.links a{
    color: var(--text-color);
    margin-left: 4.5rem;
    display: inline-block;
    font-size: 1.4rem;
}
.links a:hover{
    color: rgb(252, 195, 175);
    transform: scale(1.05);
}
.nav-action-btn{
    margin-left: 2rem;
}
/* 
cart CSS
*/
.my-cart{
    display: grid;
    justify-content: center;
    margin: 4rem;
    grid-column-gap: 4rem;
    grid-template-columns: 60% auto;
}
.font-size{
    font-size: 3rem;
}
.horizontal-card {
    width: 100%;
    height: 24rem;
    position: relative;
    color: var(--card-text);
    padding: 0 23rem;
    background-color: var(--card-background-color);
}
.game-tag{
    background-color: #575555;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    font-family: monospace;
}
.action-btn {
    position: absolute;
    margin-top: -2rem;
    display: flex;
    gap: 1rem;
    bottom: 0%;
    right: 0%;
}
.card-header{
    margin-right: 3rem;
    margin-left: -20rem;
}
.card-text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.price {
    margin-right: 14rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.btn-solid {
    background-color: none
}
.badge {
    position: absolute;
    width: 14rem;
    height: 1rem;
    background-color: var(--card-badge);
    top: 83.3%;
    text-align: center;
    color: var(--card-text);
}

.btn {
    margin-left: -4rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-underline-position: under;
    text-decoration-line: underline;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.6);
}
/* 
Cart-summary CSS
*/
.cart-summary{
    color: var(--text-color);
    padding: -1rem 5rem;
    max-width: fit-content;
}
.cart-summary-header{
    padding: 2rem;
    font-size: 2rem;
}
.cart-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cart-items{
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 1rem;
}
.cart-summary-subtotal{
    padding: 2rem;
}
.cart-elements{
    padding: 0 2rem;
    width: 35rem;
}
.cart-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 5rem;
    border-radius: 8px;
    background-color:var(--primary-color);
    border: none;
    font-weight: 600;
    color: var(--text-color);
}
.tax-color{
    color: var(card-small-txt-color);
}

/* 
footer CSS
*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 5rem;   
    font-size: large; 
}
footer{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.footer-txt{
    color: var(--text-color);
}
/* @ media screem
*/ 
@media screen and (max-width: 870px) {
    main{
        width: 100%;
    }
   .search-bar {
       display: none;
   }
   .nav-action-btn {
       margin-left: 12rem;
   }
   .hero-img {
       margin-top: -10rem;
       height: 64rem;
       opacity: 0.8;
       margin-left: 6rem;
   }
   .hero-title {
       right: 7%;
   }
   .my-cart {
    display: grid;
    justify-content: center;
    margin: 9rem;
    grid-column-gap: 6rem;
    grid-template-columns: 60%;
  }
  .cart-summary {
    color: var(--text-color);
    padding: -1rem 5rem;
    max-width: fit-content;
    margin-top: 5rem;
  }
   .card-border {
      max-width: 100%;
   }
   .product-space {
    flex-direction: column;
   } 
}
@media screen and (max-width: 670px) {
    main{
        width: 100%;
    }
    .cart-content {
        /* width: fit-content; */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: -3rem;
    }
    .my-cart {
        display: grid;
        justify-content: center;
        margin: 9rem;
        grid-column-gap: 6rem;
        grid-template-columns: 60%;
      }
      .cart-summary {
        color: var(--text-color);
        padding: -1rem 5rem;
        max-width: fit-content;
        margin-top: 5rem;
      }
   .search-bar {
       display: none;
   }
   .nav-action-btn {
       margin-left: 12rem;
   }
   .hero-img {
       margin-top: -10rem;
       height: 64rem;
       opacity: 0.8;
       margin-left: 6rem;
   }

}
@media screen and (max-width: 470px) {
   
   main{
       width: 100%;
   }
   .search-bar {
       display: none;
   }
   .drawer__box1 {
       display: none;
}  
   .card-border {
    max-width: 100%;
   }
   .product-space{
       margin-left: 5rem;
   }
   .links a {
    color: var(--text-color);
    margin-left: 3.5rem;
    display: inline-block;
    font-size: 1.3rem;
  }
.icon-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    color: var(--text-color);
    font-size: 1.4rem;
  }
  .nav-action-btn {
    margin-left: 1rem;
}


}